@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap');


$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);
$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$veryPaleRed: hsl(13, 100%, 96%);
$veryLightGray: hsl(0, 0%, 98%);


body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    max-width: 100%;
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right -175px top -175px;
    background-size: auto;
    padding: 0;
    margin: 0 auto;
}

header {
    width: 100%;
    img {
        margin-left: 10rem;
        margin-top: 4rem;
    }
    .hamburger {
        float: right;
        margin-right: 5%;
        display: none;
    }
    nav {
        margin-left: 30%;
        margin-top: -2.25rem;
    }

    nav a {
        text-decoration: none;
        color: $darkBlue;
        font-size: .8rem;
        padding-right: 1.75rem;
    }
    nav a:hover {
        color: $darkGrayishBlue;
    }
    .get-started {
        float: right;
        margin-right: 10.5rem;
        width: 140px;
        border-radius: 25px;
        height: 40px;
        border: none;
        color: white;
        background-color: $brightRed;
        margin-top: -2rem;
        font-size: .8rem;
        box-shadow: 0px 8px 8px -4px  $brightRed;
    }
   .get-started:hover {
        cursor: pointer;
        opacity: .75;
    } 
}

.intro {
    width: 100%;
    height: 600px;
    
    .illustration-intro {
        float: right;
        margin-top: -27rem;
        margin-right: 11%;
         height: 500px;
    }
    .intro-word-box {
        margin-top: 9rem;
        margin-left: 11%;
        width: 35%;
        h1 {
            font-size: 3.5rem;
            color: $darkBlue;
            font-weight: 700;
            margin-bottom: 2rem;
            line-height: 1.1;
        }
        p {
            color: $darkGrayishBlue;
            width: 69%;
            line-height: 1.6;
            margin-bottom: 2.75rem;
        }
        .get-started {
            width: 140px;
            border-radius: 25px;
            height: 40px;
            border: none;
            color: white;
            background-color: $brightRed;
            margin-top: -2rem;
            font-size: .8rem;
            box-shadow: 0px 8px 8px -4px  $brightRed;
        }
        .get-started:hover {
            cursor: pointer;
            opacity: .75;
        } 
    }
    
    
    
}

.midsection {
    width: 100%;
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: left -400px bottom -200px ;
    background-size: auto;
    height: 1000px;
    .midsection-word-box {
        width: 33%;
        margin-left: 11%;
        h2 {
            font-size: 2.5rem;
            color: $darkBlue;
        }
        p {
            width: 75%;
            color: $darkGrayishBlue;
        }
    }
    .midsection-number-box {
        width: 40%;
        float: right;
        margin-top: -18rem;
        margin-right: 8%;
        h2 {
            background-color: $brightRed;
            width: 35px;
            color: $veryLightGray;
            padding: 2px 10px 6px 20px;
            border-radius: 25px;
           font-size: 1.25rem;
        }
        h4 {
            width: 300px;
            margin-left: 7rem;
            margin-top: -3rem;
            color: $darkBlue;
        }
        p {
            width: 77%;
            margin-left: 7rem;
            color: $darkGrayishBlue;
        }
        .number-box {
            margin-bottom: 4rem
        }
        
    }

}

.what-they-said {
    h2 {
        font-size: 2.5rem;
        margin-top: -18rem;
        text-align: center;
        color: $darkBlue;
        margin-bottom: 5rem
    }
}


.testimonial {
    overflow: scroll;
    width: 100%;

   
    .testimonial-slider {
        height: 350px;
        width: 1500px;
        display: flex;
        padding-left: 20px;
        
        .test-box {
            margin-top: 5rem;
            width: 535px;
            background-color: $veryLightGray;
            height: 220px;
            margin-right: 30px;
            img {
                width: 75px;
                margin-left: 43%;
                margin-top: -2.5rem
            }
            h4 {
                text-align: center;
            }
            p {
                color: $darkGrayishBlue;
                width: 90%;
                text-align: center;
                margin-left: 1rem;
            }
        }
    }

}

.testimonial::-webkit-scrollbar {
    display: none;
}

.button-box {
    margin-top: 1rem;
    margin-bottom: 10rem;
    .get-started {
        margin-left: 45%;
        width: 140px;
        border-radius: 25px;
        height: 40px;
        border: none;
        color: white;
        background-color: $brightRed;
        margin-top: -2rem;
        font-size: .8rem;
        box-shadow: 0px 8px 8px -4px  $brightRed;
    }
   .get-started:hover {
        cursor: pointer;
        opacity: .75;
    } 
   
}

.bottom {
    background: url(./images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: left 250px bottom 0px;
    width: 100%;
    background-color: $brightRed;
    color: white;
    height: 215px;
    h2 {
        margin-left: 11%;
        font-size: 2.5rem;
        width: 35%;
        padding-top: 2rem;
    }
    .get-started {
        background-color: $veryLightGray;
        width: 140px;
        border-radius: 25px;
        height: 40px;
        border: none;
        color: $brightRed;
        font-size: .8rem; 
        float: right;
        margin-right: 11%;
        margin-top: -6rem;
    }
    .get-started:hover {
        cursor: pointer;
        opacity: .9;
        background-color: $veryLightGray;
    } 
}

footer {
    background-color: $veryDarkBlue;
    height: 250px;
    img.logo {
        margin-left: 11%;
        margin-top: 4rem;
        
    }
    form {
       float: right;
       margin-top: -7rem;
       margin-right: 5rem;
       width: 300px;
       display: flex;
       p {
           color: red;
           font-size: .75rem;
           margin-left: 1rem;
           margin-top: 0rem;
           font-style: italic;
       }
       input {
           width: 200px;
           height: 40px;
           border-radius: 25px;
           border: .5px solid $veryDarkBlue;
           margin-right: 1rem;
       }
       input::placeholder {
           padding-left: 1rem;
           
       }
       .submit {
           color: white;
           background-color: $brightRed;
           border: none;
           width: 70px;
           height: 40px;
           border-radius: 25px;
       }
       .submit:hover {
           background-color: hsl(12, 84%, 66%);
           cursor: pointer;
       }
    }
    .link-list1 {
        list-style: none;
        width: 5%;
        display: block;
        margin-left: 30%;
        color: white;
        margin-top: -8.5rem;
    }
    li {
        padding-bottom: 10px;
    }
    
    
    .link-list2 {
        list-style: none;
        width: 10%;
        display: block;
        margin-left: 50%;
        color: white;
        margin-top: -9.5rem;
    }
    li:hover {
        color: $brightRed;
        cursor: pointer;
    }

    h4 {
        margin-top: -2rem;
        float: right;
        margin-right: 8%;
        font-size: .9rem;
        color: $darkGrayishBlue;
        font-weight: 100;
    }
    .social {
        margin-top: 5rem;
        margin-left: 11%;
    }
    .social img {
        padding-right: 10px;
    }
    .social img:hover {
        filter: invert(45%) sepia(92%) saturate(1295%) hue-rotate(335deg) brightness(94%) contrast(101%);
        cursor: pointer;
    }

}

.attribution {
    font-size: .75rem;
    float: right;
    margin-right: 5%;
    margin-top: -2rem;
    color: $darkGrayishBlue;
    a {
        color: $darkGrayishBlue;
        text-decoration: none;
    }
    opacity: 1;
    animation-name: attrib;
    animation-duration: 1000ms;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    @keyframes attrib {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 1150px) {
    header {
        img.logo {
            margin-left: 5%;
        }
        .get-started {
            margin-right: 5%;
        }
    }
    .intro {
        .intro-word-box {
            margin-left: 5%;
        }
        img.illustration-intro {
            margin-right: 5%;
        }
    }
    .midsection {
        .midsection-word-box {
            margin-left: 5%;
        }
        .midsection-number-box {
            margin-right: 5%;
        }
    }
    .bottom {
        h2 {
            margin-left: 5%;
        }
        .get-started {
            margin-right: 5%;
        }
    }
    footer {
        img.logo {
            margin-left: 5%;
        }
        .social {
            margin-left: 5%;
        }
        form {
            margin-right: 5%;
        }
        .link-list1 {
            margin-left: 25%;
        }
        .link-list2 {
            margin-left: 40%;
            margin-top: -10.5rem;
        }
    }
   
}

@media only screen and (max-width: 1000px) {
    .intro {
        img.illustration-intro {
            margin-right: 25%;
            margin-top: -90%;
            
            
        }
        .intro-word-box {
          margin-left: 10%;
          position: relative;
          margin-top: 80%;
          text-align: center;
          width: 80%;
        P {
            margin-left: 15%;
        }
    }
    
}
.midsection {
    height: 1200px;
    .midsection-word-box {
        width: 80%;
        margin-top: -20%;
        margin-left: 10%;
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
            margin-left: 10%;
        }
    }
    .midsection-number-box {
        width: 80%;
        margin-top: 10%;
        margin-right: 10%;
    }
}
.bottom {
    h2 {
        width: 50%;
    }
}
}

@media only screen and (max-width: 900px) {
    header {
        nav a {
            padding-right: 8px;
        }
    }
    .intro {
        .intro-word-box {
            width: 90%;
            margin-left: 5%;
        }
       img.illustration-intro {
           margin-right: 15%;
           margin-top: -53rem;
       }
    }
    
}

@media only screen and (max-width: 800px) {
    footer {
        height: 750px;
        form {
            margin-top: -19rem;
            margin-right: 25%;
            width: 350px;
            
            input {
                width: 250px;
            }
        }
        .link-list1 {
            margin-top: -25rem;
        }
        .link-list2 {
            margin-left: 55%;
        }
        img.logo {
            margin-top: 30rem;
            margin-left: 40%;
           
            float: none;
        }
        .social {
            margin-left: 40%;
        }
        h4 {
            margin-top: 20rem;
            margin-right: 35%;
        }
    }
    .attribution {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    header {
        .get-started {
            display: none;
        }
        .hamburger {
            display: block;
            margin-top: -2rem;
        }
        .hamburger:hover {
            cursor: pointer;
        }
        nav {
            display: none;
            background-color: white;
            width: 320px;
            height: 270px;
            position: absolute;
            top: 20%;
            right: 5%;
            padding-top: 15px;
            border-radius: 5px;
        }
        .open {
            display: block;
        }
        .nav a {
            display: block;
            
            padding: 15px 0;
            text-align: center;
        }
    }
    .intro {
        img.illustration-intro {
            margin-right: 5%;
            margin-top: -58rem;
        }
        .intro-word-box {
            width: 90%;
            margin-top: 40rem;
           
        }
    }
    .bottom {
        height: 400px;
        h2 {
            margin: 0 auto;
            width: 80%;
            text-align: center;

        }
        .get-started {
            margin-top: 5rem;
            margin-right: 40%;

        }
    }
    footer {
        form {
            margin-right: 15%;
        }
        h4 {
            margin-right: 30%;
        }
    }
}


@media only screen and (max-width: 575px) {
    body {
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right -75px top -75px;
    background-size: 96%;
    }
    .intro {
        img.illustration-intro {
            width: 90%;
            height: auto;
            margin-top: -60rem;
            
        }
       
    }
    .midsection {
        background-image: none;
        .midsection-number-box {
            h4 {
                background-color: hsla(12, 88%, 59%, .2);
                width: 92%;
                padding-left: 10%;
                padding-top: 5px;
                padding-bottom: 9px;
                margin-left: 3.05rem;
                margin-top: -3.35rem;
            }
        }
    }
    .button-box {
        margin-left: -17%;
    }

    .bottom {
        background-image: url(./images/bg-simplify-section-mobile.svg);
        background-position: left;
    }
    footer {
        img.logo {
            margin-left: 35%;
        }
        .social {
            margin-left: 35%;
        }
    }
}

@media only screen and (max-width: 475px) {
    
}