@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap");
body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
  max-width: 100%;
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: right -175px top -175px;
  background-size: auto;
  padding: 0;
  margin: 0 auto;
}

header {
  width: 100%;
}

header img {
  margin-left: 10rem;
  margin-top: 4rem;
}

header .hamburger {
  float: right;
  margin-right: 5%;
  display: none;
}

header nav {
  margin-left: 30%;
  margin-top: -2.25rem;
}

header nav a {
  text-decoration: none;
  color: #242d52;
  font-size: .8rem;
  padding-right: 1.75rem;
}

header nav a:hover {
  color: #9095a7;
}

header .get-started {
  float: right;
  margin-right: 10.5rem;
  width: 140px;
  border-radius: 25px;
  height: 40px;
  border: none;
  color: white;
  background-color: #f25f3a;
  margin-top: -2rem;
  font-size: .8rem;
  -webkit-box-shadow: 0px 8px 8px -4px #f25f3a;
          box-shadow: 0px 8px 8px -4px #f25f3a;
}

header .get-started:hover {
  cursor: pointer;
  opacity: .75;
}

.intro {
  width: 100%;
  height: 600px;
}

.intro .illustration-intro {
  float: right;
  margin-top: -27rem;
  margin-right: 11%;
  height: 500px;
}

.intro .intro-word-box {
  margin-top: 9rem;
  margin-left: 11%;
  width: 35%;
}

.intro .intro-word-box h1 {
  font-size: 3.5rem;
  color: #242d52;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.1;
}

.intro .intro-word-box p {
  color: #9095a7;
  width: 69%;
  line-height: 1.6;
  margin-bottom: 2.75rem;
}

.intro .intro-word-box .get-started {
  width: 140px;
  border-radius: 25px;
  height: 40px;
  border: none;
  color: white;
  background-color: #f25f3a;
  margin-top: -2rem;
  font-size: .8rem;
  -webkit-box-shadow: 0px 8px 8px -4px #f25f3a;
          box-shadow: 0px 8px 8px -4px #f25f3a;
}

.intro .intro-word-box .get-started:hover {
  cursor: pointer;
  opacity: .75;
}

.midsection {
  width: 100%;
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: left -400px bottom -200px;
  background-size: auto;
  height: 1000px;
}

.midsection .midsection-word-box {
  width: 33%;
  margin-left: 11%;
}

.midsection .midsection-word-box h2 {
  font-size: 2.5rem;
  color: #242d52;
}

.midsection .midsection-word-box p {
  width: 75%;
  color: #9095a7;
}

.midsection .midsection-number-box {
  width: 40%;
  float: right;
  margin-top: -18rem;
  margin-right: 8%;
}

.midsection .midsection-number-box h2 {
  background-color: #f25f3a;
  width: 35px;
  color: #fafafa;
  padding: 2px 10px 6px 20px;
  border-radius: 25px;
  font-size: 1.25rem;
}

.midsection .midsection-number-box h4 {
  width: 300px;
  margin-left: 7rem;
  margin-top: -3rem;
  color: #242d52;
}

.midsection .midsection-number-box p {
  width: 77%;
  margin-left: 7rem;
  color: #9095a7;
}

.midsection .midsection-number-box .number-box {
  margin-bottom: 4rem;
}

.what-they-said h2 {
  font-size: 2.5rem;
  margin-top: -18rem;
  text-align: center;
  color: #242d52;
  margin-bottom: 5rem;
}

.testimonial {
  overflow: scroll;
  width: 100%;
}

.testimonial .testimonial-slider {
  height: 350px;
  width: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial .testimonial-slider .test-box {
  margin-top: 5rem;
  width: 535px;
  background-color: #fafafa;
  height: 220px;
  margin-right: 30px;
}

.testimonial .testimonial-slider .test-box img {
  width: 75px;
  margin-left: 43%;
  margin-top: -2.5rem;
}

.testimonial .testimonial-slider .test-box h4 {
  text-align: center;
}

.testimonial .testimonial-slider .test-box p {
  color: #9095a7;
  width: 90%;
  text-align: center;
  margin-left: 1rem;
}

.testimonial::-webkit-scrollbar {
  display: none;
}

.button-box {
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.button-box .get-started {
  margin-left: 45%;
  width: 140px;
  border-radius: 25px;
  height: 40px;
  border: none;
  color: white;
  background-color: #f25f3a;
  margin-top: -2rem;
  font-size: .8rem;
  -webkit-box-shadow: 0px 8px 8px -4px #f25f3a;
          box-shadow: 0px 8px 8px -4px #f25f3a;
}

.button-box .get-started:hover {
  cursor: pointer;
  opacity: .75;
}

.bottom {
  background: url(./images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: left 250px bottom 0px;
  width: 100%;
  background-color: #f25f3a;
  color: white;
  height: 215px;
}

.bottom h2 {
  margin-left: 11%;
  font-size: 2.5rem;
  width: 35%;
  padding-top: 2rem;
}

.bottom .get-started {
  background-color: #fafafa;
  width: 140px;
  border-radius: 25px;
  height: 40px;
  border: none;
  color: #f25f3a;
  font-size: .8rem;
  float: right;
  margin-right: 11%;
  margin-top: -6rem;
}

.bottom .get-started:hover {
  cursor: pointer;
  opacity: .9;
  background-color: #fafafa;
}

footer {
  background-color: #1d1e25;
  height: 250px;
}

footer img.logo {
  margin-left: 11%;
  margin-top: 4rem;
}

footer form {
  float: right;
  margin-top: -7rem;
  margin-right: 5rem;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer form p {
  color: red;
  font-size: .75rem;
  margin-left: 1rem;
  margin-top: 0rem;
  font-style: italic;
}

footer form input {
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 0.5px solid #1d1e25;
  margin-right: 1rem;
}

footer form input::-webkit-input-placeholder {
  padding-left: 1rem;
}

footer form input:-ms-input-placeholder {
  padding-left: 1rem;
}

footer form input::-ms-input-placeholder {
  padding-left: 1rem;
}

footer form input::placeholder {
  padding-left: 1rem;
}

footer form .submit {
  color: white;
  background-color: #f25f3a;
  border: none;
  width: 70px;
  height: 40px;
  border-radius: 25px;
}

footer form .submit:hover {
  background-color: #f17d5f;
  cursor: pointer;
}

footer .link-list1 {
  list-style: none;
  width: 5%;
  display: block;
  margin-left: 30%;
  color: white;
  margin-top: -8.5rem;
}

footer li {
  padding-bottom: 10px;
}

footer .link-list2 {
  list-style: none;
  width: 10%;
  display: block;
  margin-left: 50%;
  color: white;
  margin-top: -9.5rem;
}

footer li:hover {
  color: #f25f3a;
  cursor: pointer;
}

footer h4 {
  margin-top: -2rem;
  float: right;
  margin-right: 8%;
  font-size: .9rem;
  color: #9095a7;
  font-weight: 100;
}

footer .social {
  margin-top: 5rem;
  margin-left: 11%;
}

footer .social img {
  padding-right: 10px;
}

footer .social img:hover {
  -webkit-filter: invert(45%) sepia(92%) saturate(1295%) hue-rotate(335deg) brightness(94%) contrast(101%);
          filter: invert(45%) sepia(92%) saturate(1295%) hue-rotate(335deg) brightness(94%) contrast(101%);
  cursor: pointer;
}

.attribution {
  font-size: .75rem;
  float: right;
  margin-right: 5%;
  margin-top: -2rem;
  color: #9095a7;
  opacity: 1;
  -webkit-animation-name: attrib;
          animation-name: attrib;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.attribution a {
  color: #9095a7;
  text-decoration: none;
}

@-webkit-keyframes attrib {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes attrib {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */