@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap');


$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);
$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$veryPaleRed: hsl(13, 100%, 96%);
$veryLightGray: hsl(0, 0%, 98%);


body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    width: 100%;
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right -175px top -175px;
    background-size: auto;
}

header {
    
    img {
        margin-left: 10rem;
        margin-top: 4rem;
    }
    .hamburger {
        float: right;
        margin-right: 5%;
        display: none;
    }
    nav {
        margin-left: 30%;
        margin-top: -2.25rem;
    }

    nav a {
        text-decoration: none;
        color: $darkBlue;
        font-size: .8rem;
        padding-right: 1.75rem;
    }
    nav a:hover {
        color: $darkGrayishBlue;
    }
    .get-started {
        float: right;
        margin-right: 10.5rem;
        width: 140px;
        border-radius: 25px;
        height: 40px;
        border: none;
        color: white;
        background-color: $brightRed;
        margin-top: -2rem;
        font-size: .8rem;
        box-shadow: 0px 8px 8px -4px  $brightRed;
    }
   .get-started:hover {
        cursor: pointer;
        opacity: .75;
    } 
}

.intro {
    
    height: 600px;
    
    .illustration-intro {
        float: right;
        margin-top: -27rem;
        margin-right: 11%;
         height: 500px;
    }
    .intro-word-box {
        margin-top: 9rem;
        margin-left: 11%;
        width: 35%;
        h1 {
            font-size: 3.5rem;
            color: $darkBlue;
            font-weight: 700;
            margin-bottom: 2rem;
            line-height: 1.1;
        }
        p {
            color: $darkGrayishBlue;
            width: 69%;
            line-height: 1.6;
            margin-bottom: 2.75rem;
        }
        .get-started {
            width: 140px;
            border-radius: 25px;
            height: 40px;
            border: none;
            color: white;
            background-color: $brightRed;
            margin-top: -2rem;
            font-size: .8rem;
            box-shadow: 0px 8px 8px -4px  $brightRed;
        }
        .get-started:hover {
            cursor: pointer;
            opacity: .75;
        } 
    }
    
    
    
}

.midsection {
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: left -400px bottom -200px ;
    background-size: auto;
    height: 1000px;
    .midsection-word-box {
        width: 33%;
        margin-left: 11%;
        h2 {
            font-size: 2.5rem;
            color: $darkBlue;
        }
        p {
            width: 75%;
            color: $darkGrayishBlue;
        }
    }
    .midsection-number-box {
        width: 40%;
        float: right;
        margin-top: -18rem;
        margin-right: 8%;
        h2 {
            background-color: $brightRed;
            width: 35px;
            color: $veryLightGray;
            padding: 2px 10px 6px 20px;
            border-radius: 25px;
           font-size: 1.25rem;
        }
        h4 {
            width: 300px;
            margin-left: 7rem;
            margin-top: -3rem;
            color: $darkBlue;
        }
        p {
            width: 77%;
            margin-left: 7rem;
            color: $darkGrayishBlue;
        }
        .number-box {
            margin-bottom: 4rem
        }
    }

}
.testimonial {
   
    h2 {
        font-size: 2.5rem;
        margin-top: -18rem;
        text-align: center;
        color: $darkBlue;
    }
}