@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap");
body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
  width: 100%;
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: right -175px top -175px;
  background-size: auto;
}

header img {
  margin-left: 10rem;
  margin-top: 4rem;
}

header .hamburger {
  float: right;
  margin-right: 5%;
  display: none;
}

header nav {
  margin-left: 30%;
  margin-top: -2.25rem;
}

header nav a {
  text-decoration: none;
  color: #242d52;
  font-size: .8rem;
  padding-right: 1.75rem;
}

header nav a:hover {
  color: #9095a7;
}

header .get-started {
  float: right;
  margin-right: 10.5rem;
  width: 140px;
  border-radius: 25px;
  height: 40px;
  border: none;
  color: white;
  background-color: #f25f3a;
  margin-top: -2rem;
  font-size: .8rem;
  -webkit-box-shadow: 0px 8px 8px -4px #f25f3a;
          box-shadow: 0px 8px 8px -4px #f25f3a;
}

header .get-started:hover {
  cursor: pointer;
  opacity: .75;
}

.intro {
  height: 600px;
}

.intro .illustration-intro {
  float: right;
  margin-top: -27rem;
  margin-right: 11%;
  height: 500px;
}

.intro .intro-word-box {
  margin-top: 9rem;
  margin-left: 11%;
  width: 35%;
}

.intro .intro-word-box h1 {
  font-size: 3.5rem;
  color: #242d52;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.1;
}

.intro .intro-word-box p {
  color: #9095a7;
  width: 69%;
  line-height: 1.6;
  margin-bottom: 2.75rem;
}

.intro .intro-word-box .get-started {
  width: 140px;
  border-radius: 25px;
  height: 40px;
  border: none;
  color: white;
  background-color: #f25f3a;
  margin-top: -2rem;
  font-size: .8rem;
  -webkit-box-shadow: 0px 8px 8px -4px #f25f3a;
          box-shadow: 0px 8px 8px -4px #f25f3a;
}

.intro .intro-word-box .get-started:hover {
  cursor: pointer;
  opacity: .75;
}

.midsection {
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: left -400px bottom -200px;
  background-size: auto;
  height: 1000px;
}

.midsection .midsection-word-box {
  width: 33%;
  margin-left: 11%;
}

.midsection .midsection-word-box h2 {
  font-size: 2.5rem;
  color: #242d52;
}

.midsection .midsection-word-box p {
  width: 75%;
  color: #9095a7;
}

.midsection .midsection-number-box {
  width: 40%;
  float: right;
  margin-top: -18rem;
  margin-right: 8%;
}

.midsection .midsection-number-box h2 {
  background-color: #f25f3a;
  width: 35px;
  color: #fafafa;
  padding: 2px 10px 6px 20px;
  border-radius: 25px;
  font-size: 1.25rem;
}

.midsection .midsection-number-box h4 {
  width: 300px;
  margin-left: 7rem;
  margin-top: -3rem;
  color: #242d52;
}

.midsection .midsection-number-box p {
  width: 77%;
  margin-left: 7rem;
  color: #9095a7;
}

.midsection .midsection-number-box .number-box {
  margin-bottom: 4rem;
}

.testimonial h2 {
  font-size: 2.5rem;
  margin-top: -18rem;
  text-align: center;
  color: #242d52;
}
/*# sourceMappingURL=style.css.map */